<div class="cv-container" #cvContainer>

  <div class="title">
    David Rueda
    <div class="sub-title">
      IT Engineer
    </div>
  </div>

  <div class="cv">
    <div class="my-pic">
    </div>
    <div class="first-txt-section txt-section">
      <h3>IT is humanoid</h3>
      <div class="text">
        <p>
          I've been working in different areas. From computational biology in bio-image recognition to the space industry
          with the automation of the Galileo satellite fleet and the maintaining of the ESA's SCOS-2000 software and now
          in the Finance, I have seen a lot of domains and been through different aspects of developing an IT product.
        </p>
        <p>
          I'm now looking for companies that not only will provide me with new challenges and learning but as well a
          coherent and human culture of collaboration.
          SCRUM is a must to have in order to establish a respectful working ambience with a high transparency and honesty
          between all the members of a team over the company.
        </p>
        <p>
          In my latest experience, I have assumed my role as a technical lead as well as a software designer and a mentor
          in my team, developing the flagship product of the company: an internal AML system for the company (a USA
          financial institution).
          That experience has been the richest I had in my career and taught me a lot about leading the development of a
          product. From the technical perspective to the management one, I had so much to learn that I was in constant
          evolution.
          The fact that this venture hasn't been a success in terms of the product development makes the experience a
          total success in terms of learning what can make you fail or succeed: fail faster and retry is my first
          guideline in my life.
        </p>
      </div>
    </div>
    <div class="job-section">
      <h3>professional experience</h3>
      <div class="job">
        <div class="info">
          <div class="job-title">amerbank</div>
          <div class="period">
            <span>september 2017</span>
            <span>april 2018</span>
            <span>8 months</span>
          </div>
        </div>
        <div class="job-contents">
          <div class="desc">
            <p>
              Development of an Anti Money Laundering product for Amerbank. Technologies used: Kubernetes, AWS,
              Microservices, Istio.io, Node, Angular.
            </p>
          </div>
          <div class="tasks">
            <ul>
              <li>Creating k8s production cluster with Kops on AWS</li>
              <li>Implementing microservices on a private cluster with HemeraJS, then with Istio.io</li>
              <li>CI with CircleCI and Helm</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="job">
        <div class="info">
          <div class="job-title">independent</div>
          <div class="period">
            <span>march 2017</span>
            <span>august 2017</span>
            <span>6 months</span>
          </div>
        </div>
        <div class="job-contents">
          <div class="desc">
            <p>
              Creation of an app for German training for foreign students willing to enroll in a German university.
              Technologies used: Kubernetes, AWS, Microservices, Seneca, Node, Angular.
            </p>
          </div>
          <div class="tasks">
            <ul>
              <li>Creating k8s cluster with Kops on AWS</li>
              <li>Implementing microservices on a private cluster with SenecaJS</li>
              <li>Developing Angular 4 MVP</li>
              <li>CI with CircleCI</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="job">
        <div class="info">
          <div class="job-title">
            cgi
            <a href="https://drive.google.com/file/d/0B3Wu5re6rOM3aHV0THpPU1lrSGc/view?usp=sharing">
              see ref.
            </a>
          </div>
          <div class="period">
            <span>november 2013</span>
            <span>march 2017</span>
            <span>3+ years</span>
          </div>
        </div>
        <div class="job-contents">
          <div class="desc">
            <p>
              GALILEO - the new European navigation system. My team and I have greatly participated into the development
              of the satellite communication software and its automation.
            </p>
          </div>
          <div class="tasks">
            <ul>
              <li>Bug investigation and resolution</li>
              <li>Satellite automation with Java</li>
              <li>C++ development for SCOS-2000</li>
              <li>Internal portal: AngularJS, NodeJS</li>
              <li>Integration tests</li>
              <li>CI with Jenkins</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="job">
        <div class="info">
          <div class="job-title">biotec</div>
          <div class="period">
            <span>march 2012</span>
            <span>mai 2013</span>
            <span>9 months</span>
          </div>
        </div>
        <div class="job-contents">
          <div class="desc">
            <p>
              Drug discovery for bone diseases: towards high-throughput and high-content phenotype comparison.
              Working in the computational biology group of Michael Schroeder.
            </p>
          </div>
          <div class="tasks">
            <ul>
              <li>Programming: Java, R, Swing, Shell</li>
              <li>Machine learning: Weka</li>
              <li>Image processing: Fiji & ImageJ</li>
              <li>Scientific literature</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="edu-and-lang">
      <div class="txt-section">
        <h3>education</h3>
        <div class="text no-columns">
          <h5>University of Bordeaux, France</h5>
          <p>
            <span class="kind">Master of Science (MS)</span> in
            <span class="highlight">Computational Biology</span>
            <span class="year">2012</span>
            <br>
            <span class="kind">Bachelor of Science (BS)</span> in
            <span class="highlight">Biology</span>
            <span class="year">2009</span>
            <br>
          </p>
        </div>
      </div>
      <div class="txt-section">
        <h3>languages</h3>
        <div class="text no-columns">
          <h5>Languages are living beings, facets of our ego.</h5>
          <p>
            <span class="kind">french</span> as
            <span class="highlight">mother tongue</span>
            <br>
            <span class="kind">spanish</span> as
            <span class="highlight">father tongue</span>
            <br>
            <span class="kind">english</span> level
            <span class="highlight">c1</span>
            <br>
            <span class="kind">german</span> level
            <span class="highlight">b2</span>
            <br>
          </p>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="contact">
      <div class="linked-in">
        <a href="https://www.linked-in.com/in/davd33-rueda/">https://www.linked-in.com/in/davd33-rueda/</a>
      </div>
      <div class="phone">
        <span>+977</span>
        <span>98</span>
        <span>19</span>
        <span>28</span>
        <span>09</span>
        <span>93</span>
        <div class="desc">(currently traveling through Nepal)</div>
      </div>
      <div class="mail"><a href="mailto:davd33@gmail.com">davd33@gmail.com</a></div>
    </div>
  </footer>
</div>
