@import "../../common";

:host {
  width: 80%;
  background: rgba(255,255,255,.2);
  position: fixed;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: $font-txt;
  font-size: 1.5em;
  color: $color-lighter;
}

.container {

  form {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;

    label {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 10px;

      input[type=text] {
        border: 0;
        border-bottom: 2px solid $color-lighter;
        background: transparent;
        color: $color-lighter;
        font-family: $font-txt;
        font-size: 1em;
      }
    }
  }
}
