@import "../../common";

:host {
  @extend %component-container;
}

h1 {
  @extend %component-title-2;
}

.container {
  @extend %component-content;

  %some-text {
    width: 80%;
    margin: 0 auto;
  }

  .loading {
    @extend %some-text;

    text-align: center;
    padding: 50px 0;
  }

  .editing {
    @extend %some-text;

    overflow: hidden;

    .msg {
      display: inline-block;
    }

    .blinking-msg {
      animation: $anim-blinking-bg;
    }

    .controls {

      a {
        cursor: pointer;
        padding: 0 10px;

        &.saving {
          @include anim-blinking-color($color-pending, $color-darker);
        }

        i.toggle-published {
          color: $color-published;
        }

        &:hover {
          color: $color-highlight-2;
        }
      }
    }

    .edit-container {
      $min-height: 50vh;

      textarea {
        float: left;
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        border: 0;
        border-top: 2px solid $color-darker;
        box-shadow: 0 52px 118px -120px $color-darker inset;
        height: 0;
        min-height: 0;
        background: $color-1;
        font-family: $font-txt-blog;
        font-size: 1.2em;
        transform: translate(-100%);
        opacity: 0;
        padding: 10px 20px;
        box-sizing: border-box;
        overflow: scroll;
      }

      textarea.write-mode {
        min-height: $min-height;
        opacity: 1;
        transform: translate(0);
      }

      textarea.see-mode {
        transform: translate(-100%);
        opacity: 0;
        min-height: 0;
      }

      .apercu {
        width: 100%;
        opacity: 0;
        transform: translate(100%);
        border-top: 2px solid $color-darker;
        box-shadow: 0 52px 118px -120px $color-darker inset;
        background: $color-1;
        padding: 10px;
        min-height: $min-height;

        @extend %blog-markdown;
      }

      .apercu.write-mode {
        opacity: 0;
        transform: translate(100%);
      }

      .apercu.see-mode {
        opacity: 1;
        transform: translate(0);
      }
    }
  }
}
