@import "common";

.container {

  .canvas-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background: $color-darker;
  }

  header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    position: relative;
    background: transparent;

    nav {
      display: flex;
      justify-content: start;
      position: fixed;
      z-index: 10;
      width: 100%;

      background: transparentize($color-darker, .8);
      box-shadow: 1px 0 2px black;

      &:last-of-type {
        width: auto;
        right: 0;
        background: transparent;
        box-shadow: 0 0 0 transparent;

        .user {
          padding: 11px 10px;
          color: $color-lighter;
          font-style: italic;
          font-family: $font-txt;

          a {
            display: inline;
            text-transform: none;
            font-style: normal;
            margin: 0;
            padding: 0 0 0 10px;
            color: $color-dark;

            &:hover {
              text-decoration: underline;
              background: transparent;
              cursor: pointer;
            }
          }
        }
      }

      a {
        display: block;
        margin: 5px 10px;
        padding: 5px 10px;
        color: $color-dark;
        text-decoration: none;
        text-transform: uppercase;
        border: 2px solid transparent;
        font-family: $font-title;

        &:hover, &.active {
          background: transparentize($color-lighter, .8);
          color: $color-dark;
          border-radius: 5px;
        }
      }
    }
  }
}
