$dotted-img: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABZJREFUeNpi2r9//38gYGAEESAAEGAAasgJOgzOKCoAAAAASUVORK5CYII=);

$color-highlight: black;
$color-highlight-2: darkblue;
$color-highlight-3: yellow;
$color-highlight-4: red;
$color-lighter: #ecdcf6;
$color-light: #222;
$color-darker: #222222;
$color-dark: #fff;
$color-gray: #ecdcf6;
$color-principal: $color-gray;

$color-1: transparentize($color-principal, .4);
$color-2: $color-highlight-2;
$color-3: transparentize($color-lighter, .1);
$color-4: transparentize($color-highlight, .2);
$color-5: transparentize($color-dark, .8);

$font-title: 'Fjalla One', sans-serif;
$font-title-2: 'Bungee Inline', cursive;
$font-txt: 'PT Sans Narrow', sans-serif;
$font-txt-blog: 'Rajdhani', sans-serif;

%component-title {
  font-family: $font-title;
  font-size: 3em;
  text-transform: uppercase;
  text-align: center;
  color: $color-lighter;
  text-shadow: 2px 0 1px $color-darker;
}

%component-title-2 {
  @extend %component-title;

  margin: 32px 0;
  height: 57px;
}

%component-container {
  position: fixed;
  -webkit-overflow-scrolling: touch;
  width: 100vw;
  height: calc(100vh - 40px);
  overflow: scroll;
  top: 45px;

  font-family: $font-txt;
}

%component-content {
  padding-bottom: 90px;
  border-top: 2px solid $color-highlight;
  min-height: calc(100vh - 40px - 218px);
  background: $color-3;
}

%blog-markdown {

  ::ng-deep h1 {
    font-family: $font-title-2;
    text-transform: uppercase;
    font-size: 2em;
    background: $color-lighter;
    padding: 0 10px;
    transform: translate(-20px);
    width: calc(100% + 20px);
    box-shadow: 0 1px 2px -2px;
  }

  ::ng-deep h2 {
    width: calc(100% + 20px);
    border-bottom: 1px solid $color-gray;
    transform: translate(-10px);
    padding-left: 10px;
    box-sizing: border-box;
  }

  ::ng-deep code {
    padding: 10px;
    display: block;
    background: transparentize($color-darker, .8);
    width: 100%;
    transform: translate(-10px);
  }
}
