$dotted-img: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABZJREFUeNpi2r9//38gYGAEESAAEGAAasgJOgzOKCoAAAAASUVORK5CYII=);

$color-highlight: yellow;
$color-lighter: white;
$color-light: #fbfbfb;
$color-darker: #222;
$color-dark: #444;
$color-gray: #ccc;
$color-principal: #8889ce;
$color-secondary: darkblue;
