<h1>Blog</h1>
<div class="container">
  <div class="create-article" *ngIf="adminLoggedIn">
    <a (click)="createArticle()" title="write new post"><i class="fas fa-file-alt"></i></a>
  </div>
  <div class="no-article-found" *ngIf="adminLoggedIn ? noPostYet : noPublishedPostYet">
    <p>{{noPostsOrLoading}}</p>
  </div>
  <div class="posts">
    <div class="post" *ngFor="let post of articles">

      <div class="controls" *ngIf="adminLoggedIn" [ngClass]="getPostControlsClasses(post)">
        <div class="post-ctrl"
             (click)="delete(post._id)" title="delete post">
          <i class="fas fa-trash-alt"></i>
        </div>
        <div class="post-ctrl"
             (click)="edit(post._id)" title="edit post">
          <i class="fas fa-pen-alt"></i>
        </div>
      </div>

      <div class="post-text"
           *ngIf="post.published || adminLoggedIn"
           [innerHTML]="getHTML(post.text)"></div>
    </div>
  </div>
</div>
