@import "../common";

:host {
  @extend %component-container;
}

h1 {
  @extend %component-title-2;
}

.container {
  @extend %component-content;

  %some-text {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }

  .no-article-found {
    @extend %some-text;
    font-size: 1.5em;
  }

  .posts {
    @extend %some-text;
    text-align: left;

    .post {
      margin-bottom: 50px;
      background: $color-1;
      padding: 0 10px;

      .post-text {
        font-size: 1.5em;
        overflow-wrap: break-word;

        ::ng-deep code {
          padding: 10px;
          display: block;
          background: transparentize($color-darker, .8);
          width: 100%;
          transform: translate(-10px);
        }
      }

      .controls {
        width: calc(100% + 1px);
        transform: translate(-10px);
        background: #222;
        color: white;
        padding: 0 10px;

        .post-ctrl {
          font-size: 1em;
          padding: 10px 10px 10px 0;
          cursor: pointer;
          width: 1em;
          display: inline-block;

          &:hover {
            color: $color-highlight-3;
          }
        }
      }
    }
  }

  .create-article {
    @extend %some-text;
    margin: 10px auto 20px;
    text-align: left;
    font-size: 1em;
    background: $color-darker;
    color: $color-lighter;
    padding: 10px 0;

    a {
      cursor: pointer;
      padding: 0 10px;

      &:hover {
        color: $color-highlight-3;
      }
    }
  }
}
